@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Hind:wght@500&family=Lilita+One&family=Ubuntu:wght@700&display=swap');

*{
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  /* font-family: 'Courgette', cursive; */
  /* color: white; */
}
h1,h2{
  font-family: 'Lilita One', sans-serif;
}
h6,h5,h3{
  font-family: 'Ubuntu', sans-serif;
}
